<div class="new-nav">
    <ul>
        {{#foreach navigation}}
            <li class="new-nav{{#if current}} nav-current{{/if}}">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
</div>
