{{!< default}}

<header class="main-header no-cover">
    <div class="main-header-content inner">
        <h1 class="page-title">{{@blog.title}}</h1>
         <a class="icon-popout github-popout" href="https://github.com/attilathedud"></a>
         <a class="icon-popout rss-popout" href="{{@blog.url}}/rss/"></a>
        {{!-- The blog navigation links --}}
        {{navigation}}
    </div>
</header>

{{!-- The main content area on the homepage --}}
<main class="content" role="main">
    <article class="post">
        <section class="post-content">
            <div class="error-404">
                <h1>4040404040404040404040404040404040404</h1>
                <h1>0404040404040404040404040404040404040</h1>
                <h1>4040404040404040404040404040404040404</h1>
                <h1>0404040404040404040404040404040404040</h1>
                <h1>4040404040404040404040404040404040404</h1>
                <h1>0404040404040404040404040404040404040</h1>
            </div>
        </section>
    </article>
</main>

<script type="text/javascript" src="{{asset "js/404.js"}}"></script>
