{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
<header class="main-header no-cover">
    {{#tag}}
    <div class="main-header-content inner">
        <h1 class="page-title">{{name}}</h1>
         <a class="icon-popout github-popout" href="https://github.com/attilathedud"></a>
         <a class="icon-popout rss-popout" href="http://attilathedud.me/rss"></a>
        {{!-- The blog navigation links --}}
        {{navigation}}
    </div>
    {{/tag}}
</header>

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
