$site-background-color: #333333;

$header-background-color: #ffffff;
$header-page-title-color: #000000;

$navbar-link-color: rgba(0,0,0,.8);
$navbar-hover-color: gainsboro;

$body-color: #ffffff;
$body-link-color: #ffffff;
$body-link-hover-color: #9eabb3;
$body-hr-color:#ffffff;
$body-blockquote-color: #ffffff;

$post-border-color: #444444;
$post-background-color: #222222;
$post-boxshadow-color: rgba(0,0,0,0.75);
$post-meta-color: #9eabb3;

$code-background-color:#F7FAFB;
$code-border-color:#E3EDF3;
$code-color: #000000;

$footer-text-color: #9eabb3;